@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.footer, .subscribe, .lenora-fields, .chicken-grill, .statistic, .oriental, .best-seller, .header {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  position: relative;
}

body {
  background-color: rgba(73, 70, 70, 0.534);
}

.header {
  min-height: 800px;
  position: relative;
  background-size: cover;
  background: url("../img/background/header__bg1.png") left no-repeat;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99999999;
}
.header__logo {
  max-width: 600px;
  width: 100%;
}
.header__bg-img {
  position: absolute;
  left: -168px;
  bottom: 0;
  z-index: 1;
}
.header__title {
  font-size: 127.4px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #ffc200;
  position: relative;
  z-index: 3;
}
.header__about {
  width: 100%;
  background-color: #2f2f2f;
  position: relative;
  z-index: 2;
}
.header__menu {
  margin-top: 50px;
}
.header__article {
  max-width: 615px;
  margin: 115px 0 0 85px;
}
.header__text {
  margin-top: 30px;
  position: relative;
  z-index: 3;
  color: white;
  font-size: 29.8px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
}
.header__button {
  margin-top: 45px;
  margin-bottom: 20px;
}
.header__background-icon {
  position: relative;
}
.header__background-icon img {
  position: absolute;
  opacity: 0.75;
  z-index: 2;
}
.header__background-icon img:nth-child(1) {
  top: 115px;
  left: 30px;
}
.header__background-icon img:nth-child(2) {
  top: 318px;
  left: -67px;
}
.header__background-icon img:nth-child(3) {
  top: 660px;
  left: 53px;
}
.header__background-icon img:nth-child(4) {
  top: 652px;
  left: 232px;
}
.header__background-icon img:nth-child(5) {
  top: 684px;
  left: 484px;
}
.header__background-icon img:nth-child(6) {
  top: 124px;
  right: 183px;
}
.header__background-icon img:nth-child(7) {
  top: 725px;
  right: 150px;
}
.header__background-icon img:nth-child(8) {
  top: 519px;
  right: 50px;
}
.header__background-icon img:nth-child(9) {
  top: 299px;
  right: 100px;
}

.nav-menu {
  max-width: 800px;
  font-size: 25px;
  color: white;
  position: relative;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.2;
  z-index: 2;
}
.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-menu ul a {
  color: white;
}
.nav-menu ul button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px 0 20px;
}
.nav-menu ul li {
  padding: 0 10px;
}

.best-seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.best-seller__anotation {
  text-align: center;
  margin-top: 140px;
}
.best-seller__title {
  font-size: 75px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}
.best-seller__subtitle {
  color: #333333;
  font-size: 25.3px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  max-width: 895px;
  margin-top: 45px;
}
.best-seller__offer {
  margin-top: 75px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
}
.offer__box {
  padding: 0 10px;
}
.offer__box img {
  width: 100%;
}
.offer__name {
  font-size: 41.7px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 15px 0 20px 0;
}
.offer__text {
  color: #333333;
  font-size: 16.9px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  max-width: 239px;
}

.oriental {
  min-height: 800px;
  background: url("../img/bg__img/top.png") no-repeat, white;
  background-position: 0 200px, 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.oriental__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 190px 10px 10px 10px;
}
.oriental__annotation {
  width: 50%;
  margin: 0 50px;
}
.oriental__title {
  font-size: 100px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #ffc200;
  margin-top: 350px;
}
.oriental__text {
  color: white;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  padding-left: 5px;
  max-width: 560px;
}
.oriental__button {
  margin-top: 60px;
  padding-bottom: 150px;
}

.statistic {
  position: relative;
  min-height: 800px;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.statistic__title {
  font-size: 100px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #ffc200;
  margin-top: 80px;
}
.statistic__text {
  color: white;
  font-size: 24.7px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  max-width: 800px;
  margin: 50px auto 100px auto;
}
.statistic__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}
.statistic__circle {
  margin: 0 30px 50px 30px;
}

.chicken-grill {
  min-height: 800px;
  background: url("../img/bg__img/bottom.png") no-repeat, white;
  background-position: 0 -350px, 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chicken-grill__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 10px 10px 10px;
}
.chicken-grill__annotation {
  width: 50%;
  margin: 0 0 0 135px;
}
.chicken-grill__title {
  font-size: 100px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #ffc200;
  margin-top: 150px;
}
.chicken-grill__text {
  color: white;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  padding-left: 5px;
  margin-top: 20px;
  max-width: 560px;
}
.chicken-grill__button {
  margin-top: 70px;
  padding-bottom: 150px;
}

.graph-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 5px solid white;
  width: 233px;
  height: 233px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}
.graph-circle__count {
  color: #ffc200;
  font-size: 52.6px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
}
.graph-circle__name {
  color: white;
  font-size: 28.9px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  margin-top: 10px;
}

.lenora-fields {
  position: relative;
  min-height: 796px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: rgba(255, 226, 0, 0.6);
}
.lenora-fields__bg-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 240, 0, 0.4);
  z-index: 1;
}
.lenora-fields img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lenora-fields__text {
  color: #333333;
  font-size: 44.9px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  max-width: 920px;
  margin: 0 auto;
  z-index: 2;
}
.lenora-fields__title {
  font-size: 74.2px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin-top: 50px;
  z-index: 3;
}

.subscribe {
  min-height: 796px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  position: relative;
}
.subscribe__title {
  font-size: 100px;
  font-family: "Grand Hotel";
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin: 160px 0 0 0;
}
.subscribe__text {
  color: #333333;
  font-size: 29.8px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  max-width: 830px;
  margin-top: 55px;
}
.subscribe__form-box {
  margin-top: 92px;
}

.subscribe-form {
  max-width: 775px;
  width: 100%;
}
.subscribe-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe-form__input input {
  color: #333333;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  padding: 15px 1px 15px 35px;
  border-radius: 4px 0px 0px 4px;
  width: 100%;
}
.subscribe-form__button {
  background-color: #ffc200;
  border-radius: 0px 4px 4px 0px;
  color: #333333;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 35px;
  max-width: 230px;
}

.footer {
  min-height: 796px;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__nav-box {
  height: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 255px 90px;
}
.footer__title {
  color: white;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.footer ul, .footer a, .footer__text {
  color: white;
  font-size: 23.6px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Montserrat";
  font-weight: 400;
}
.footer li {
  margin: 15px 0;
}
.footer__icons {
  margin-top: 40px;
}
.footer__coulums {
  padding: 0 25px;
}

.circle-img img {
  max-width: 100%;
}

.order-button {
  position: relative;
  z-index: 3;
  background-color: #ffc200;
  font-size: 19.3px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Montserrat";
  color: #333333;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 15px 57px;
}

.bg-icon img {
  position: absolute;
  opacity: 0.24;
  z-index: 2;
}
.bg-icon img:nth-child(1) {
  top: 50px;
  left: 328px;
}
.bg-icon img:nth-child(2) {
  top: 250px;
  left: 57px;
}
.bg-icon img:nth-child(3) {
  bottom: 41px;
  left: 90px;
}
.bg-icon img:nth-child(4) {
  bottom: 28px;
  right: 392px;
}
.bg-icon img:nth-child(5) {
  bottom: 50px;
  left: 301px;
}
.bg-icon img:nth-child(6) {
  bottom: 41px;
  right: 161px;
}
.bg-icon img:nth-child(7) {
  bottom: 186px;
  right: 45px;
}
.bg-icon img:nth-child(8) {
  top: 287px;
  right: 133px;
}
.bg-icon img:nth-child(9) {
  top: 29px;
  right: 318px;
}

@media (max-width: 1321px) {
  .header__background-icon img:nth-child(5), .header__background-icon img:nth-child(9), .header__background-icon img:nth-child(7) {
    display: none;
  }
  .header__background-icon img:nth-child(6) {
    right: 20px;
  }
  .oriental {
    background-position: 0 80px, 0 0;
  }
}
@media (max-width: 500px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__box img {
    width: 200px;
  }
  .offer__text {
    margin: 0 auto;
  }
  .bg-icon img:nth-child(1) {
    display: none;
  }
  .header__title, .oriental__title, .statistic__title, .chicken-grill__title, .subscribe__title {
    font-size: 80px;
  }
  .lenora-fields__text {
    color: #333333;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Montserrat";
  }
}
@media (max-width: 635px) {
  .header {
    text-align: center;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__about img {
    display: none;
  }
  .header__article {
    margin: 80px 0;
  }
  .header title {
    text-align: center;
  }
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
    margin: 115px auto;
  }
  .oriental {
    background-position: 0 20px, 0 0;
    text-align: center;
  }
  .oriental__button {
    padding-bottom: 20px;
  }
  .oriental__img {
    display: none;
  }
  .oriental__annotation {
    width: 100%;
    margin: 0 50px;
  }
  .chicken-grill {
    background-position: 0 -170px, 0 0;
    text-align: center;
  }
  .chicken-grill__button {
    padding-bottom: 20px;
  }
  .chicken-grill__img {
    display: none;
  }
  .chicken-grill__annotation {
    width: 100%;
    margin: 0 50px;
  }
  .statistic .bg-icon img {
    display: none;
  }
  .subscribe-form {
    z-index: 3;
  }
  .subscribe-form__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 0 10px;
  }
  .subscribe-form__button {
    margin: 15px auto;
  }
}
@media (max-width: 990px) {
  .footer__nav-box {
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__coulums {
    text-align: center;
    width: 100%;
  }
  .footer__title {
    margin-top: 50px;
  }
}
@media (max-width: 1000px) {
  .statistic .bg-icon img:nth-child(5), .statistic .bg-icon img:nth-child(4), .statistic .bg-icon img:nth-child(2), .statistic .bg-icon img:nth-child(8), .statistic .bg-icon img:nth-child(9), .subscribe .bg-icon img:nth-child(5), .subscribe .bg-icon img:nth-child(4), .subscribe .bg-icon img:nth-child(2), .subscribe .bg-icon img:nth-child(8), .subscribe .bg-icon img:nth-child(9) {
    display: none;
  }
  .chicken-grill {
    background-position: 0 -200px, 0 0;
  }
  .chicken-grill__title {
    margin-top: 70px;
  }
}